<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <form method="get" action="/postal">
        <label class="radio-inline">
            <input type="radio" name="optradio" value="stamp">Letters (Stamped)</label>
        <label class="radio-inline">
            <input type="radio" name="optradio" value="metered">Letters (Metered)</label>
        <label class="radio-inline">
            <input type="radio" name="optradio" value="flats">Large Envelopes (Flats)</label>
        <label class="radio-inline">
            <input type="radio" name="optradio" value="parcel">Parcels</label>
        <label>Weight</label>
        <input type="text" name="weight" />
        <input type="submit" /> </form>
</body>

</html>